@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(../assets/images/fondoLapicesColores.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Manrope", sans-serif !important;
}

a {
    text-decoration: none !important; 
}


/* ------------------- Header ------------------- */

.logoChgByDs {
    width: 3rem;
    height: 3rem;
    margin: 10px;
}

.logoPortada {
    width: 100%;
    height: 15.625rem;
}

.menuHamburguesa {
    display: none;
}

.contenedorHeader {
    background-color: rgba(0, 0, 0, 0.824);
    width: 100%;
    position: fixed;
    z-index: 2;
}

.contenedorHeader ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorHeader ul a {
    width: 100%;
    padding: 5px;
    margin: auto;
}

.contenedorHeader ul li {
    list-style-type: none;
    transform: scale(1);
    transition: transform 0.22s ease-in-out;
}

.contenedorHeader ul li a {
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0px 10px;

}

.contenedorHeader ul li:hover {
    transform: scale(1.2);
    transition: transform 0.22s ease-in-out;
}

.contenedorHeader ul li a:hover {
    background-color: rgba(255, 255, 255, 0.231);
    transform: scale(1.3);
}

.displayNone{
    display: none;
}

/* Clase h1 */
.tituloPrincipal {
    background-color: rgba(255, 176, 30, 0.247);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30pt;
    font-weight: bold;
}

/* --------------------------------------------- */
/* ------------------ Index -------------------- */
/* --------------------------------------------- */

.mainGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: auto;
}

.mainGridItem1 img {
    width: 90%;
    filter: drop-shadow(2px 2px 5px);
}

.mainGridItem2 {
    font-size: 14pt;
    width: 80%;
}

.mainGridItem3 {
    width: 100%;
    font-size: 14pt;
}

.mainGridItem3 h3 {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.mainGridItem4 img {
    width: 90%;
    filter: drop-shadow(2px 2px 5px);
    margin: 10px;
}

.mainNuestrosServicios {
    padding: 50px;
}

.mainNuestrosServicios h2 {
    font-size: 26pt;
    text-align: center;
    margin: 40px
}

.mainNSLista {
    display: grid;
    width: 70%;
    margin: auto;
    padding-left: 20px;
    grid-template-rows: repeat(4, 1fr);
    height: 25rem;
    align-items: center;
    gap: 10px;
}

.mainNSLista li {
    font-size: 16pt;
}

.mainNSSpan {
    font-weight: bold;
    text-decoration: underline;
}

.mainGridContainerUnete {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 95%;
    height: 80vh;
}

.mainGridItem1Unete {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/3;
    justify-content: center;

}

.mainGridItem2Unete {
    display: flex;
    grid-column: 2/4;
    grid-row: 2/4;
    justify-content: center;
}


.mainGridItem3Unete {
    display: flex;
    grid-column: 3/5;
    grid-row: 3/5;
    justify-content: center;
}


.mainGridItem4Unete {
    display: flex;
    grid-column: 4/6;
    grid-row: 4/6;
    justify-content: center;
}


.mainGridItem5Unete {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 5/6;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/indexGridUnete5.png);
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center;
}

.mainGridItem5Unete a {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding-top: 15px;
    color: black;
}

.gridUneteImg {
    width: 65%;
    filter: drop-shadow(2px 2px 5px);
}


/* --------------------------------------------- */
/* ---------------- Contactos ------------------ */
/* --------------------------------------------- */

.mainContactosFlex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 10px;
    row-gap: 20px;
    padding: 10px;
}

.mainContactosFlexItem {
    width: 20rem;
    background-color: rgba(255, 166, 0, 0.384);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 4px 2px rgba(126, 76, 0, 59%);
    border-radius: 12px;
}

.sombraLogo {
    filter: drop-shadow(2px 2px 4px);
    width: 5rem;
}

.posicionTextoContactos {
    font-size: 12pt;
    text-align: center;
}

.posicionTextoContactos h3 {
    font-size: 20pt;
    text-align: center;
}

.sectionContactosForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    margin: 20px;
    justify-items: center;
    align-items: center;
}

.divForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.divForm h2 {
    font-size: 24pt;
    font-weight: bold;
}

.divForm div {
    padding: 20px 15px;
    border-radius: 3px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 4px 2px rgba(126, 76, 0, 59%);
}

.contactosForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
}

.contactosForms ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.liFormItem input {
    width: 18rem;
    height: 3rem;
    padding-left: 10px;
    font-size: 12pt;
}

.mensajeArea input {
    width: 18rem;
    height: 8rem;
    padding-left: 10px;
    font-size: 12pt;
}

.btnEnviar {
    width: 60%;
    height: 30px;
    background-color: rgba(255, 212, 60, 1);
    border: none;
    box-shadow: 0px 0px 3px;
    font-size: 14pt;
    font-weight: bold;
}

.btnEnviar:hover {
    background-color: rgb(240, 188, 0);
}

.btnEnviar:active {
    background-color: rgba(183, 143, 0, 0.877);
    box-shadow: 0px 0px 3px;
}

.imagenConsultas {
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: center;
}

/* --------------------------------------------- */
/* ----------------- Diseños ------------------- */
/* --------------------------------------------- */

.mainDiseñosParrafosIniciales{
    gap: 50px;
}

.mainImagenesPuestosTrabajo{
    filter: drop-shadow(0px 0px 3px black);
}

.mainFondoDescTrabajo{
    background-color: rgba(255, 140, 0, 0.192);
    border: 1 px solid transparent;
    border-radius: 20px;
}

/* --------------------------------------------- */
/* ------------------ Únete -------------------- */
/* --------------------------------------------- */

.uneteImgDiseFutur{
    margin: 10px;
    width: 40%;
    height: 40%;
}

/* ------------------- Footer ------------------- */

.contenedorFooter {
    background-color: rgba(0, 0, 0, 0.807);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorFooter ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding: 10px;
    width: 50%;
}

.contenedorFooter ul li {
    list-style-type: none;
}

.contenedorFooter ul li a {
    color: white;
    text-decoration: none;
}

.footerContactoLogo {
    width: 3.5rem;
    height: 3.5rem;
    padding-top: 5px;
}

.footerContactos {
    font-size: 16pt;
}

.contenedorFooter p {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    color: white;
}

.irArriba {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    gap: 5px;
    width: 50%;
}

.irArriba h4 {
    font-size: 16pt;
    font-weight: bold;
}

.irArriba a {
    text-align: center;
    padding-top: 5px;
}

.irArriba a img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px;
}

/* --------------------------------------------- */
/* --------------- MediaQuerys ----------------- */
/* --------------------------------------------- */

@media (max-width:1025px) {

    /* ---- Index ---- */
    .mainGridItem1 img {
        width: 90%;
    }

    .mainGridItem2 p {
        width: 100%;
        font-size: 14pt;
    }

    .mainGridItem3 h3 {
        font-size: 20pt;
        margin: 5px;
    }

    .mainGridItem3 p {
        width: 100%;
        font-size: 14pt;
    }

    .mainGridItem4 img {
        width: 90%;
    }

    .mainGridItem5Unete {
        background-size: 130px;
        width: 80%;
        justify-self: center;
    }

    .mainGridItem5Unete a {
        font-size: 16pt;
    }

    .gridUneteImg {
        width: 70%;
    }

    /* ---- Contactos ---- */
    .mainContactosFlex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        width: 45rem;
        margin: auto;
    }

    .imagenConsultas img {
        width: 80%;
    }

    /* ---- Footer ---- */
    .contenedorFooter ul {
        gap: 5px;
    }

    .footerContactos {
        font-size: 14pt;
    }

    .footerContactoLogo {
        transform: scale(0.8);
    }

    .irArriba h4 {
        font-size: 14pt;
    }
}

@media (max-width:769px) {

    /* ---- Header ---- */
    .contenedorHeader ul li:hover {
        transform: none;
        transition: none;
    }

    .contenedorHeader ul li:active {
        transform: scale(1.2);
    }

    /* ---- Index ---- */
    .mainGridItem1 img {
        width: 100%;
    }

    .mainGridItem2 p {
        width: 100%;
        font-size: 10pt;
    }

    .mainGridItem3 h3 {
        font-size: 16pt;
    }

    .mainGridItem3 p {
        width: 100%;
        font-size: 10pt;
    }

    .mainGridItem4 img {
        width: 90%;
    }

    .mainGridItem5Unete {
        background-size: 120px;
        width: 80%;
        justify-self: center;
    }

    .mainGridItem5Unete a {
        font-size: 16pt;
    }

    .mainNuestrosServicios {
        padding: 5px;
    }

    .mainNuestrosServicios h2 {
        font-size: 20pt;
        margin: 10px
    }

    .mainNSLista {
        height: 15rem;
        gap: 0;
    }

    .mainNSLista li p {
        font-size: 12pt;
    }

    .gridUneteImg {
        width: 70%;
    }

    /* ---- Contactos ---- */

    .mainContactosFlex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        width: 45rem;
        margin: auto;
    }

    /* ---- Footer ----  */

    .contenedorFooter ul {
        gap: 1px;
    }

    .footerContactos {
        font-size: 14pt;
    }

    .footerContactoLogo {
        transform: scale(0.8);
    }

    .irArriba {
        width: 50%;
        justify-content: end;
    }

    .irArriba h4 {
        font-size: 14pt;
    }
}

@media (max-width:426px) {

    #displayTrue{
        display: none;
    }
    .menuHamburguesa {
        display: flex;
        width: 4rem;
        height: 4rem;
        margin: 10px;
        justify-content: space-between;
    }

    .displayNone{
        display: flex;
    }

    .contenedorHeader ul li a{
        border: none;
        border-radius: none;
    }

    .contenedorHeader ul li{
        padding: 3px 0px;
    }

}


/* ---- Menu hamburguesa ---- */
.menuHamburguesaImg{
    width: 70px;
    display: none;
}

.dropdown-toggle-split::after {
    display: none;
}

.menuHamburguesaSinBorde{
    border: none;
    background-image: url(../assets/images/menuHamburguesa.svg);
    background-repeat: no-repeat;
    object-fit: contain;
    width: 70px;
    height: 70px;
}

.menuHamburguesaSinBorde:focus{
    box-shadow: none;
}

.menuHamburguesaSinBorde:hover{
    box-shadow: 0px 0px 2px 2px white;
}
