@charset "UTF-8";
/* ------ Utilities ------*/
/* ------ Base ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/fondoLapicesColores.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Manrope", sans-serif !important;
}

a {
  text-decoration: none !important;
}

.tituloPrincipal {
  background-color: rgba(255, 176, 30, 0.247);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 36pt;
  font-weight: bold;
}

/* ------ Layout ------ */
.logoPortada {
  width: 100%;
  height: 15.625rem;
}

.mainGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 75%;
  margin: auto;
}
.mainGridContainer .mainGridItem1 img {
  width: 90%;
  filter: drop-shadow(2px 2px 5px);
}
.mainGridContainer .mainGridItem2 {
  font-size: 14pt;
  width: 80%;
}
.mainGridContainer .mainGridItem3 {
  width: 100%;
  font-size: 14pt;
}
.mainGridContainer .mainGridItem3 h3 {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 10px;
}
.mainGridContainer .mainGridItem4 img {
  width: 90%;
  filter: drop-shadow(2px 2px 5px);
  margin: 10px;
}

.mainNuestrosServicios {
  padding: 50px;
}
.mainNuestrosServicios h2 {
  font-size: 26pt;
  text-align: center;
  margin: 40px;
}
.mainNuestrosServicios .mainNSLista {
  display: grid;
  width: 70%;
  margin: auto;
  padding-left: 20px;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
}
.mainNuestrosServicios .mainNSLista li {
  font-size: 16pt;
}
.mainNuestrosServicios .mainNSLista li p .mainNSSpan {
  font-weight: bold;
  text-decoration: underline;
}

.mainGridContainerUnete {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 95%;
  height: 80vh;
}
.mainGridContainerUnete .mainGridItem1Unete {
  display: flex;
  grid-column: 1/3;
  grid-row: 1/3;
  justify-content: center;
}
.mainGridContainerUnete .mainGridItem2Unete {
  display: flex;
  grid-column: 2/4;
  grid-row: 2/4;
  justify-content: center;
}
.mainGridContainerUnete .mainGridItem3Unete {
  display: flex;
  grid-column: 3/5;
  grid-row: 3/5;
  justify-content: center;
}
.mainGridContainerUnete .mainGridItem4Unete {
  display: flex;
  grid-column: 4/6;
  grid-row: 4/6;
  justify-content: center;
}
.mainGridContainerUnete .mainGridItem5Unete {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 5/6;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/indexGridUnete5.png);
  background-size: 160px;
  background-repeat: no-repeat;
  background-position: center;
}
.mainGridContainerUnete .mainGridItem5Unete a {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  width: 200px;
  padding-top: 15px;
  color: black;
}

.gridUneteImg {
  width: 65%;
  filter: drop-shadow(2px 2px 5px);
}

.mainContactosFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  row-gap: 20px;
  padding: 10px;
}
.mainContactosFlex .mainContactosFlexItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgba(126, 76, 0, 0.59);
  border-radius: 12px;
  background-color: rgba(255, 166, 0, 0.384);
  width: 20rem;
  padding: 15px;
}

.sombraLogo {
  filter: drop-shadow(2px 2px 4px);
  width: 5rem;
}

.posicionTextoContactos {
  font-size: 12pt;
  text-align: center;
}
.posicionTextoContactos h3 {
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 2px;
}
.posicionTextoContactos p {
  margin: 0;
  padding: 2px;
}

.sectionContactosForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
  margin: 20px;
  justify-items: center;
  align-items: center;
}
.sectionContactosForm .divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sectionContactosForm .divForm h2 {
  font-size: 24pt;
  font-weight: bold;
}
.sectionContactosForm .divForm div {
  padding: 20px 15px;
  border-radius: 3px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 0px 4px 2px rgba(126, 76, 0, 0.59);
}

.contactosForms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: center;
}
.contactosForms ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.liFormItem input {
  width: 18rem;
  height: 3rem;
  padding-left: 10px;
  font-size: 12pt;
}

.mensajeArea input {
  width: 18rem;
  height: 8rem;
  padding-left: 10px;
  font-size: 12pt;
}

.btnEnviar {
  width: 60%;
  height: 30px;
  background-color: rgb(255, 212, 60);
  border: none;
  box-shadow: 0px 0px 3px;
  font-size: 14pt;
  font-weight: bold;
}
.btnEnviar:hover {
  background-color: rgb(240, 188, 0);
}
.btnEnviar:active {
  background-color: rgba(183, 143, 0, 0.877);
  box-shadow: 0px 0px 3px;
}

.imagenConsultas {
  display: flex;
  width: 90%;
  height: 70%;
  justify-content: center;
}

.mainDiseñosParrafosIniciales {
  gap: 50px;
}

.fondoNaranjaParrafos {
  background-color: rgba(255, 194, 119, 0.876);
  border: 1 px solid transparent;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 4px rgb(117, 72, 17));
}

.mainDiseñosAHover {
  transform: scale(1);
  transition: transform 0.22s ease-in-out;
}
.mainDiseñosAHover:hover {
  transform: scale(0.95);
  transition: transform 0.22s ease-in-out;
}

.subDiseniosSectionPrincipal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 60px 0;
}
.subDiseniosSectionPrincipal p {
  text-align: center;
  font-size: 16pt;
  width: 40%;
  padding: 20px;
}
.subDiseniosSectionPrincipal p span {
  font-weight: bold;
}
.subDiseniosSectionPrincipal .subDiseniosSubPortada {
  width: 70%;
  height: 25rem;
  border-radius: 5px;
}

.subDiseniosReduccionImg {
  width: 40%;
  border-radius: 20px;
}

.subDiseniosSectionPrincipalFinal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subDiseniosSectionPrincipalFinal p {
  text-align: center;
  font-size: 20pt;
  width: 65%;
  padding: 10px;
  margin: 20px 0;
}
.subDiseniosSectionPrincipalFinal img {
  width: 70%;
  height: 30rem;
  margin: 30px 0;
}

.contenedorFooter {
  background-color: rgba(0, 0, 0, 0.807);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
}
.contenedorFooter ul {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: auto;
  width: 50%;
}
.contenedorFooter ul li {
  list-style-type: none;
}
.contenedorFooter ul li a {
  color: white;
  text-decoration: none;
  margin: none;
}

.footerContactos {
  font-size: 16pt;
  margin: auto;
}

.footerContactoLogo {
  width: 3.5rem;
  height: 3.5rem;
}

.indexParrafoFooter {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: auto;
}

.irArriba {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  column-gap: 10px;
  width: 50%;
}
.irArriba h4 {
  font-size: 16pt;
  font-weight: bold;
  margin: auto 0;
}
.irArriba a img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 5px;
}

/* ------ Components ------ */
.logoChgByDs {
  width: 3rem;
  height: 3rem;
  margin: 10px;
}

.contenedorHeader {
  background-color: rgba(0, 0, 0, 0.824);
  width: 100%;
  position: fixed;
  padding: 0.7rem 0;
  z-index: 2;
}
.contenedorHeader ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedorHeader ul a {
  width: 100%;
  padding: 5px;
  margin: auto;
}
.contenedorHeader ul li {
  list-style-type: none;
  transform: scale(1);
  transition: transform 0.22s ease-in-out;
}
.contenedorHeader ul li:hover {
  transform: scale(1.2);
  transition: transform 0.22s ease-in-out;
}
.contenedorHeader ul li a {
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0px 10px;
}
.contenedorHeader ul li a:hover {
  background-color: rgba(255, 255, 255, 0.231);
  transform: scale(1.3);
}

.displayNone {
  display: none;
}

.menuHamburguesaSinBorde {
  border: none;
  background-image: url(../assets/images/menuHamburguesa.svg);
  background-repeat: no-repeat;
  object-fit: contain;
  width: 70px;
  height: 70px;
}
.menuHamburguesaSinBorde .menuHamburguesaImg {
  width: 70px;
  display: none;
}
.menuHamburguesaSinBorde:focus {
  box-shadow: none;
}
.menuHamburguesaSinBorde:hover {
  box-shadow: 0px 0px 2px 2px white;
}

.dropdown-toggle-split::after {
  display: none;
}

.fondoNaranjaParrafos {
  background-color: rgba(255, 194, 119, 0.876);
  border: 1 px solid transparent;
  border-radius: 20px;
}

.fondoSombreado {
  filter: drop-shadow(2px 3px 4px black);
}

/* ------ Media Querys ------ */
@media (max-width: 1025px) {
  /* ---- Index ---- */
  .mainGridItem1 img {
    width: 90%;
  }
  .mainGridItem2 p {
    width: 100%;
    font-size: 14pt;
  }
  .mainGridItem3 h3 {
    font-size: 20pt;
    margin: 5px;
  }
  .mainGridItem3 p {
    width: 100%;
    font-size: 14pt;
  }
  .mainGridItem4 img {
    width: 90%;
  }
  .mainGridItem5Unete {
    background-size: 130px;
    width: 80%;
    justify-self: center;
  }
  .mainGridItem5Unete a {
    font-size: 16pt;
  }
  .gridUneteImg {
    width: 70%;
  }
  /* ---- Contactos ---- */
  .mainContactosFlex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    margin: 0 auto;
  }
  .imagenConsultas img {
    width: 80%;
  }
  /* ---- Footer ---- */
  .contenedorFooter ul {
    gap: 5px;
  }
  .footerContactos {
    font-size: 14pt;
  }
  .footerContactoLogo {
    transform: scale(0.8);
  }
  .irArriba h4 {
    font-size: 14pt;
  }
}
@media (max-width: 769px) {
  /* ---- Header ---- */
  .contenedorHeader ul li:hover {
    transform: none;
    transition: none;
  }
  .contenedorHeader ul li:active {
    transform: scale(1.2);
  }
  /* ---- Index ---- */
  .mainGridItem1 img {
    width: 100%;
  }
  .mainGridItem2 p {
    width: 100%;
    font-size: 10pt;
  }
  .mainGridItem3 h3 {
    font-size: 16pt;
  }
  .mainGridItem3 p {
    width: 100%;
    font-size: 10pt;
  }
  .mainGridItem4 img {
    width: 90%;
  }
  .mainGridItem5Unete {
    background-size: 120px;
    width: 80%;
    justify-self: center;
  }
  .mainGridItem5Unete a {
    font-size: 16pt;
  }
  .mainNuestrosServicios {
    padding: 5px;
  }
  .mainNuestrosServicios h2 {
    font-size: 20pt;
    margin: 10px;
  }
  .mainNSLista {
    height: 15rem;
    gap: 0;
  }
  .mainNSLista li p {
    font-size: 12pt;
  }
  .gridUneteImg {
    width: 70%;
  }
  /* ---- Contactos ---- */
  .mainContactosFlex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  /* ---- Footer ----  */
  .contenedorFooter ul {
    gap: 1px;
  }
  .footerContactos {
    font-size: 14pt;
  }
  .footerContactoLogo {
    transform: scale(0.8);
  }
  .irArriba {
    width: 50%;
    justify-content: end;
  }
  .irArriba h4 {
    font-size: 14pt;
  }
}
@media (max-width: 426px) {
  /* ---- Header ---- */
  #displayTrue {
    display: none;
  }
  .menuHamburguesa {
    display: flex;
    width: 4rem;
    height: 4rem;
    margin: 10px;
    justify-content: space-between;
  }
  .displayNone {
    display: flex;
  }
  .contenedorHeader ul li a {
    border: none;
    border-radius: none;
  }
  .contenedorHeader ul li {
    padding: 3px 0px;
  }
  /* ---- Index ---- */
  .mainGridContainer {
    grid-template-columns: 1fr;
  }
  .mainGridItem3 h3 {
    font-size: 18pt;
  }
  .mainNuestrosServicios {
    height: 90vh;
  }
  .mainGridContainerUnete {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    row-gap: 1.25rem;
    margin: auto;
    margin-top: 0;
  }
  .mainGridItem5Unete {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    height: 7rem;
  }
  .mainGridItem5Unete a {
    width: 50%;
  }
  /* ---- Contactos ---- */
  .mainContactosFlex {
    grid-template-columns: 1fr;
  }
  .sectionContactosForm {
    grid-template-columns: 1fr;
  }
  .imagenConsultas {
    display: none;
  }
  /* ---- Diseños ---- */
  .mainDiseñosResponsiveW100 {
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  /* ---- Únete ---- */
  .mainUneteGrid {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .mainUneteGridItem {
    width: 50vh;
  }
  .ajustePosicionAbajo {
    grid-row: 2/3;
  }
  .ajustePosicionArriba {
    grid-row: 1/2;
  }
  /* ---- Footer ---- */
  .contenedorFooter {
    padding: 0.125rem;
  }
  .contenedorFooter ul {
    padding-left: 10px;
    margin: 0px;
  }
  .indexIconHidden {
    display: none;
  }
  .indexParrafoFooter {
    font-size: 9pt;
    align-self: center;
    padding: 0px;
    margin: 0px;
  }
  .irArriba h4 {
    margin: 0px;
    font-size: 12pt;
  }
  .irArriba a {
    padding: 0px;
  }
  .irArriba a img {
    margin: 0px;
    margin-right: 0.3125rem;
    width: 2rem;
    height: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
