@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Manrope", sans-serif;
    background-image: url(../assets/images/fondoLapicesColores.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    /*quitar por las dudas*/
    flex-direction: column;
    /*quitar por las dudas*/
}

a {
    text-decoration: none;
}


/* --------------------------------- Header --------------------------------- */

.logoChgByDs {
    width: 3rem;
    height: 3rem;
    margin: 10px;
}

.logoPortada {
    width: 100%;
    height: 15.625rem;

}

.contenedorHeader {
    background-color: rgba(0, 0, 0, 0.733);
    width: 100%;
    position: fixed;
    z-index: 2;
}


.contenedorHeader ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorHeader ul a {
    width: 100%;

}

.contenedorHeader ul li {
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    list-style-type: none;

}

.contenedorHeader ul li a {
    color: white;
    font-weight: bold;
}

@media (max-width:768px) {
    .logoPortada {
        width: 960px
    }
}

/* -------------------------- Index -------------------------- */

main h1 {
    background-color: rgba(255, 176, 30, 0.247);
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 30pt;
}

.mainGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: auto;
    padding-top: 20px;
}

.mainGridItem1 img {
    width: 32rem;
    filter: drop-shadow(2px 2px 5px);
}

.mainGridItem2 {
    font-size: 14pt;
    width: 80%;
}

.mainGridItem3 {
    font-size: 14pt;
    width: 80%;
}

.mainGridItem3 h3 {
    font-size: 20pt;
    font-weight: bold;
}

.mainGridItem4 img {
    width: 90%;
    filter: drop-shadow(2px 2px 5px);
    margin: 10px;
}

.mainNuestrosServicios {
    padding: 50px;
}

.mainNuestrosServicios h2 {
    font-size: 26pt;
    text-align: center;
    margin: 40px
}

.mainNuestrosServicios ul {
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-rows: repeat(4, 1fr);
    height: 20rem;
    align-items: center;
    gap: 10px;
}

.mainNuestrosServicios ul li {
    font-size: 16pt;
}

.mainNSSpan {
    font-weight: bold;
    text-decoration: underline;
}

.mainGridContainerUnete {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 90%;
    height: 100vh;
}

.mainGridItem1Unete {
    display: flex;
    grid-column: 1/3;
    grid-row: 1/3;
    justify-content: center;

}

.mainGridItem2Unete {
    display: flex;
    grid-column: 2/4;
    grid-row: 2/4;
    justify-content: center;
}


.mainGridItem3Unete {
    display: flex;
    grid-column: 3/5;
    grid-row: 3/5;
    justify-content: center;
}


.mainGridItem4Unete {
    display: flex;
    grid-column: 4/6;
    grid-row: 4/6;
    justify-content: center;
}


.mainGridItem5Unete {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 5/6;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/logoWorkUs.png);
    background-size: 160px;
    background-repeat: no-repeat;
    background-position: center;
}

.mainGridItem5Unete a {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding-top: 15px;
    color: black;
}

.gridUneteImg {
    width: 55%;
    filter: drop-shadow(2px 2px 5px);
}

@media (max-width:1024px){

    .mainGridItem1 img{
        width: 90%;
    }

    .mainGridItem2 p{
        width: 100%;
        font-size: 12pt;
    }

    .mainGridItem3 h3{
        font-size: 18pt;
    }

    .mainGridItem3 p{
        font-size: 12pt;
    }

    .mainGridItem4 img{
        width: 90%;
    }

    .gridUneteImg {
        width: 60%;
    }
}

@media (max-width:425px){
    
}

/* -------------------------- Contactos -------------------------- */

/* Medios de comunicacion y redes sociales */
.mainContactosFlex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 10px;
    row-gap: 20px;
    padding: 10px;
}

@media (max-width:1024px) {
    .mainContactosFlex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        width: 45rem;
        margin: auto;
    }

    .imagenConsultas img{
        width: 80%;
    }
}

@media (max-width:768px) {
    main {
        width: 960px;
    }

    .mainContactosFlex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        width: 45rem;
        margin: auto;
    }
}


.mainContactosFlexItem {
    width: 20rem;
    background-color: rgba(255, 166, 0, 0.384);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 4px 2px rgba(126, 76, 0, 59%);
    border-radius: 12px;
}

.filterLogo {
    filter: drop-shadow(2px 2px 4px);
}

.mainContactosFlexItem div img {
    width: 5rem;
    height: 5rem;
}

.posicionTextoContactos {
    font-size: 12pt;
    text-align: center;
}

.posicionTextoContactos h3 {
    font-size: 20pt;
    text-align: center;
}


/* Formulario */

.sectionContactosForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    margin: 20px;
    justify-items: center;
    align-items: center;
}

.divForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.divForm h2 {
    font-size: 24pt;
    font-weight: bold;
}

.divForm div {
    padding: 20px 15px;
    border-radius: 3px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 4px 2px rgba(126, 76, 0, 59%);
}

.contactosForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
}

.contactosForms ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.btnEnviar {
    width: 60%;
    height: 30px;
    background-color: rgba(255, 212, 60, 1);
    border: none;
    box-shadow: 0px 0px 3px;
    font-size: 14pt;
    font-weight: bold;
}

.btnEnviar:hover {
    background-color: rgb(240, 188, 0);
    color: white;

}

.btnEnviar:active {
    background-color: rgb(245, 192, 1);
}


.liFormItem input {
    width: 18rem;
    height: 3rem;
    padding-left: 10px;
    font-size: 12pt;
}

.mensajeArea input {
    width: 18rem;
    height: 8rem;
    padding-left: 10px;
    font-size: 12pt;

}

.imagenConsultas {
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: center;
}

/* --------------------------------- Footer --------------------------------- */

.contenedorFooter {
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .contenedorFooter {
        width: 960px;
    }
}

.contenedorFooter ul {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;

}

.contenedorFooter li {
    list-style-type: none;
}

.contenedorFooter ul li a {
    color: white;
    text-decoration: none;
}

.contenedorFooter ul li a img {
    width: 3.5rem;
    padding-top: 5px;
}

.footerContactos {
    font-size: 16pt;
}

.contenedorFooter p {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    padding-right: 6.25rem;
    width: 22rem;
}

.irArriba {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;

}

.irArriba h4 {
    font-size: 16pt;
    font-weight: bold;
}

.irArriba a img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px;
}

.contenedorFooter p {
    color: white;
}

.flexFooterContactos {
    display: flex;

}

/* -- Media Querys --

@media (max-width:1024px){}
@media (max-width:768px){}
@media (max-width:720px){}
*/