.mainDiseñosParrafosIniciales {
    gap: 50px;
}

.mainDiseniosAHover {
    transform: scale(1);
    transition: transform 0.22s ease-in-out;

    &:hover {
        transform: scale(0.95);
        transition: transform 0.22s ease-in-out;
    }
}

.parrafoDisenios{
    font-weight: bold;
}