.mainGridContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    margin: auto;
    width: 75%;

    .mainGridItem1 {
        img {
            width: 90%;
        }
    }

    .mainGridItem2 {
        font-size: $fontSizeParrafo;
        width: 80%;
    }

    .mainGridItem3 {
        @extend .mainGridItem2;

        h2 {
            @include fontSizeBold($fontSizeSubtitulo, bold);
            margin-bottom: 10px;
        }
    }

    .mainGridItem4 {
        img {
            width: 90%;
            margin: 10px;
        }
    }

    img{
        border-radius: 20px;
    }
}

.mainNuestrosServicios {
    padding: 50px;

    h2 {
        @include fontSizeBold($fontSizeSubtitulo2,bold);
        text-align: center;
        margin: 5px 10px
    }

    .mainNSLista {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 30px;
        padding: 20px;
        margin: auto;
        width: 70%;

        li {
            font-size: $fontSizeParrafo;

            p {
                margin: 8px 10px;
                .mainNSSpan {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}

.mainIndexGridPuestos {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 30px 30px;

    .mainIndexGridItemPuesto1 {
        display: flex;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .mainIndexGridItemPuesto2{
        @extend .mainIndexGridItemPuesto1;
        grid-column: 2/4;
        grid-row: 2/4;
    }

    .mainIndexGridItemPuesto3{
        @extend .mainIndexGridItemPuesto1;
        grid-column: 3/5;
        grid-row: 3/5;
    }

    .mainIndexGridItemPuesto4{
        @extend .mainIndexGridItemPuesto1;
        grid-column: 4/6;
        grid-row: 4/6;
    }

    .mainIndexGridItemPropuesta{
        @extend .mainIndexGridItemPuesto1;
        align-items: center;
        grid-column: 5/6;
        grid-row: 1/2;
        background-image: url("../assets/images/indexGridUnete5.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 18vh;
        
        a{
            @include fontSizeBold ($fontSizeSubtitulo, bold);
            text-align: center;
            color: black;
            padding-top: 15px;
            width: 200px;
        }
    }
}

.gridUneteImg{
    filter: drop-shadow(2px 2px 5px);
    border-radius: 30px;
    width: 65%;
}