
.subDiseniosSectionPrincipal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    margin: 60px 0;


    p{
        text-align: center;
        font-size: 16pt;
        width: 40%;
        padding: 20px;
        span{
            font-weight: bold;
        }
    }

    .subDiseniosSubPortada{
        width: 70% ;
        height: 25rem;
        border-radius: 5px;
    }
}

.subDiseniosReduccionImg{
    width: 40%;
    border-radius: 20px;
}

.subDiseniosSectionPrincipalFinal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        text-align: center;
        font-size: 20pt;
        width: 65%;
        padding: 10px;
        margin: 20px 0;
    }

    img{
        width: 70%;
        height: 30rem;
        margin: 30px 0;
    }
}


