* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/images/fondoLapicesColores.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Manrope", sans-serif !important;
}

a {
    text-decoration: none !important; 
}

.tituloPrincipal{
    background-color: rgba(255, 176, 30, 0.247);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30pt;
    font-weight: bold;
}