@media (max-width:426px) {

    .tituloPrincipal {
        font-size: $fontSizeSubtitulo;
    }

    /* ---- Header ---- */
    .contenedorHeader {
        #displayBoolean {
            display: none;
        }

        .displayFlex {
            display: flex;
        }

        ul {
            li {
                padding: 3px 0px;

                a {
                    border: none;
                    border-radius: none;
                }
            }
        }
    }

    .menuHamburguesa {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: 4rem;
        height: 4rem;
    }

    /* ---- Index ---- */

    .mainGridContainer {
        grid-template-columns: 1fr;

        .mainGridItem3 {
            h2 {
                font-size: 18pt;
            }
        }
    }

    .mainNuestrosServicios {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 20px;
        height: 93.75rem;

        .mainNSLista {
            text-align: justify;
            margin: 0;
            width: 350px;
        }
    }

    .mainIndexGridPuestos {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 20px;

        .mainIndexGridItemPropuesta {
            margin-top: .9375rem;
            margin-bottom: .9375rem;
            height: 7rem;

            a {
                width: 40%;
            }
        }
    }

    /* ---- Contactos ---- */

    .mainContactosFlex {
        grid-template-columns: 1fr;
    }

    .sectionContactosForm {
        grid-template-columns: 1fr;
    }

    .imagenConsultas {
        display: none;
    }

    /* ---- Diseños ---- */

    .mainDiseñosParrafosIniciales {
        gap: 5px;
        font-size: 12pt;
    }

    .mainDiseñosResponsive {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        width: 23rem;

        .mainDiseniosAHover {
            width: 100% !important;
        }
    }


    /* ---- Subdiseños ---- */

    .subDiseniosSectionPrincipal {
        flex-direction: column;

        .subDiseniosResponsive {
            width: 20rem;
            height: 15rem;
        }

        p {
            width: 23rem;
        }

        .subDiseniosReduccionImg {
            width: 23rem;
        }
    }

    .subDiseniosSectionPrincipalFinal {
        p {
            background-color: rgba(255, 194, 119, 0.876);
            border-radius: 20px;
            filter: drop-shadow(2px 2px 4px rgb(117, 72, 17));
            width: 23rem;
        }

        .subDiseniosReduccionImg {
            width: 20rem;
            height: 10rem;
        }
    }

    /* ---- Únete ---- */
    .mainUneteGrid {
        display: grid !important;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .mainUneteGridItem {
            width: 50vh;
        }

        .ajustePosicionAbajo {
            grid-row: 2/3;
        }

        .ajustePosicionArriba {
            grid-row: 1/2;
        }
    }

    /* ---- Footer ---- */
    .contenedorFooter {
        padding: 0 3px 0 8px;

        ul {
            padding: 0;
            margin: 0;

            li {
                a {
                    .footerContactos {
                        font-size: $fontSizeTexto;
                    }
                }

                &:not(:nth-child(1)) {
                    width: 5px;
                }

                .indexIconHidden {
                    display: none;
                }
            }
        }

        .indexParrafoFooter {
            font-size: 9pt;
            align-self: center;
            padding: 0px;
            margin: 0px;
        }

        .irArriba {
            h2 {
                font-size: 12pt;
                margin: 0px;
            }

            a {
                padding: 0px;

                img {
                    margin: 0px;
                    width: 2.5rem;
                    height: 2.5rem;
                }

            }
        }
    }
}