@media (max-width:426px) {

    .tituloPrincipal{
        font-size: 20pt;
    }

    /* ---- Header ---- */
    .contenedorHeader {
        #displayBoolean {
            display: none;
        }

        .displayFlex {
            display: flex;
        }

        ul {
            li {
                padding: 3px 0px;

                a {
                    border: none;
                    border-radius: none;
                }
            }
        }

    }

    .menuHamburguesa {
        display: flex;
        width: 4rem;
        height: 4rem;
        margin: 10px;
        justify-content: space-between;
    }

    /* ---- Index ---- */

    .mainGridContainer {
        grid-template-columns: 1fr;

        .mainGridItem3 {
            h3 {
                font-size: 18pt;
            }
        }
    }

    .mainNuestrosServicios {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 20px;
        height: 93.75rem;

        .mainNSLista {
            text-align: justify;
            margin: 0;
            width: 350px;
        }
    }

    .mainIndexGridPuestos {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 20px;

        .mainIndexGridItemPropuesta {
            margin-top: .9375rem;
            margin-bottom: .9375rem;
            height: 7rem;

            a {
                width: 40%;
            }
        }
    }

    /* ---- Contactos ---- */

    .mainContactosFlex {
        grid-template-columns: 1fr;
    }

    .sectionContactosForm {
        grid-template-columns: 1fr;
    }

    .imagenConsultas {
        display: none;
    }

    /* ---- Diseños ---- */

    .mainDiseñosParrafosIniciales {
        gap: 5px;
        font-size: 12pt;
    }

    .mainDiseñosResponsive {
        width: 23rem;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;

        .mainDiseñosAHover {
            width: 100% !important;
        }
    }


    /* ---- Subdiseños ---- */

    .subDiseniosSectionPrincipal {
        flex-direction: column;

        .subDiseniosResponsive {
            width: 20rem;
            height: 15rem;
        }

        p {
            width: 23rem;
        }

        .subDiseniosReduccionImg {
            width: 23rem;
        }
    }

    .subDiseniosSectionPrincipalFinal {
        p {
            width: 23rem;
            background-color: rgba(255, 194, 119, 0.876);
            border: 1 px solid transparent;
            border-radius: 20px;
        }

        .subDiseniosReduccionImg {
            width: 20rem;
            height: 10rem;
        }
    }


    /* ---- Únete ---- */
    .mainUneteGrid {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .mainUneteGridItem {
        width: 50vh;
    }

    .ajustePosicionAbajo {
        grid-row: 2/3;
    }

    .ajustePosicionArriba {
        grid-row: 1/2;
    }

    /* ---- Footer ---- */
    .contenedorFooter {
        padding: .125rem;
    }

    .contenedorFooter ul {
        padding-left: 10px;
        margin: 0px;
    }

    .indexIconHidden {
        display: none;
    }

    .indexParrafoFooter {
        font-size: 9pt;
        align-self: center;
        padding: 0px;
        margin: 0px;
    }

    .irArriba h4 {
        margin: 0px;
        font-size: 12pt;
    }

    .irArriba a {
        padding: 0px;
    }

    .irArriba a img {
        margin: 0px;
        margin-right: .3125rem;
        width: 2rem;
        height: 2rem;
    }
}