@media (max-width:1025px) {

    /* ---- Index ---- */
    .mainGridContainer {
        .mainGridItem1 {
            img {
                width: 90%;
            }
        }

        .mainGridItem2 {
            p {
                font-size: $fontSizeParrafo;
                margin-bottom: 0;
                width: 21rem;
            }
        }

        .mainGridItem3 {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            h2 {
                font-size: $fontSizeSubtitulo;
                margin: 5px;
            }

            p {
                font-size: 13pt;
                text-align: center;
                width: 95%;
            }
        }

        .mainGridItem4 {
            img {
                width: 90%;
            }
        }
    }

    .mainIndexGridPuestos {
        .mainIndexGridItemPropuesta {
            justify-self: center;
            background-size: 130px;
            width: 70%;

            a {
                font-size: $fontSizeParrafo;
            }
        }
    }

    .gridUneteImg {
        width: 70%;
    }

    /* ---- Contactos ---- */
    .mainContactosFlex {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }

    .imagenConsultas {
        img {
            width: 80%;
        }
    }

    /* ---- Footer ---- */
    .contenedorFooter {
        ul {
            gap: 5px;
        }
    }

    .footerContactos {
        font-size: 14pt;
    }

    .footerContactoLogo {
        transform: scale(0.8);
    }

    .irArriba {
        h2 {
            font-size: 14pt;
        }
    }
}